#UCD EO configuration file
#
# Acquisition sequences to run
[ACQUIRE]
flat

# Flat sequence configurations
#
[FLAT]
LOCATIONS = R22/Reb0        # Locations to read
BCOUNT    = 1               # number of bias frames per flat set
WL        = r               # wavelength filter to use for the flats

flat =  5.0   1           # e- per pixel and image count for flat set
