#UCD EO configuration file
# 
# Acquisition sequences to run
[ACQUIRE]
bias
flat

[DESCRIPTION]
An example flat acquisition with proceeding bias images.

[BIAS]
DESCRIPTION=5 bias images.
LOCATIONS=R21/Reb0
COUNT=6
DELETE=1

[FLAT]
DESCRIPTION  = One flat with 40000 e- target signal.
LOCATIONS    = R21/Reb0     # Locations to read
BCOUNT       = 1            # number of bias frames per flat set
WL           = r            # wavelength filter to use for the flats

flat =  1.0   5.0    1    # exposure time, intensity, and image count for flat set
